.scrollHighlight {
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto;
  box-sizing: border-box;
}
span {
  opacity: .45;
  color: #fff;
  font-size: 64px;
  transition: opacity 0.8s;
}
span.active {
  opacity: 1;
}